	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>


                <div class="row visible-sm visible-md visible-lg">

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                            <a class="navbar-brand" href="{% url 'main' %}" style="display: flex; justify-content: center; align-items: center;
                             text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                Система расчета данных
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'import_data_prime' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        Настройка
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'restaurant' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        Restaurant
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'news' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        News
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'memory' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        Memory
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'paint' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        Paint
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'wallpapers' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        Wallpapers
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'airhockey' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        AirHockey
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'photoshare' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        PhotoShare
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0px;">
                                <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
                                    <a class="btn-primary" href="{% url 'jigsawpuzzle' %}" style="text-decoration: none; height: 80%; width: 95%; display: flex; justify-content: center; align-items: center;
                                    text-align: center; word-wrap: break-word; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                        JigsawPuzzle
                                    </a>
                                </div>
                            </div>




                        </div>
                    </div>


                </div>


			</div>
		</div>
	</nav>