{% extends "base.html" %}
{% load static %}

{% block title %}
    Страница проекта
{% endblock title %}

{% block content %}

<div class="row" style="padding: 10px; margin: 0px;">
    <div class="col-lg-12" style="text-align: center; padding: 10px; font-size: 100%; padding-left: 30%; padding-right: 30%;">
        <strong>Данное приложение создано для определения максимально выгодных со стороны прибыльности временных условий для компании.</strong><br>
        <span>Основными критериями для поиска являются следующие приложения - </span><br>
        <strong>Restaurant, News, Memory, Paint, Wallpapers, AirHockey, PhotoShare, JigsawPuzzle.</strong><br>
        <span>Задачей является найти наиболее прибыльные дни недели и наиболее прибыльные интервалы времени получения максимальной прибыли компанией.</span><br>
        <span>Задачa реализованна в двух вариантах расчета.</span><br>
        <br>
        <strong>Вариант 1 (более точный).</strong><br>
        <span>Вариант 1 основан следующих этапах:</span><br>
        <span>1 - Создание двух списков дней недели, а именно дни, которые несут максимальную прибыльность, и дни, которые не несут максимальную прибыльность (исключительно для соответсвующего приложения),</span><br>
        <span>1.1 - Подготовка ордеров для расчета - а именно разделение ордеров (переход через значение чч.00 и 24.00),</span><br>
        <span>1.2 - Подготовка значений прибыли разделенных ордеров - исходя из соотношения разделений в п.1.1,</span><br>
        <span>2 - Исходя из полученных двух списков дней недели, создаются два значения среднего значение прибыльности (временной интервал 1 час и только для своего определенного дня недели),</span><br>
        <span>3 - Далее проводится фильтрация - все значения прибыльности (в определенный интервал времени по соответсвующему дню недели для каждого списка из п.1 отдельно) привышающие среднее значение являются прибыльными,</span><br>
        <span>4 - Для отобранных максимальных значений (основываясь на определенном интервале и определенном приложении) - проводим рассчет прибыли,</span><br>
        <span>5 - Основываясь на выводе, что отобранные временные интервалы являются максимально прибыльными, мною добавлен нюанс повышения стоимости услуг в эти моменты (предложено повышение на 1%).</span><br>
        <br>
        <strong>Вариант 2 (менее точный).</strong><br>
        <span>Очень схож с итоговым расчетом варианта 1 - но:</span><br>
        <span>1 - Для анализа создается только один список дней недели (исключительно с максимальными показателями - алгоритм отбора идентичен варинту 1),</span><br>
        <span>2 - Отфильтровка промежутков времени несущих максимальные прибыли берется относительно уже всех дней недели (а не созданных ранее списков).</span><br>
        <br>


        <span><strong>Приложение</strong>: BackEnd - Python/Django, FrontEnd - HTML/CSS/Bootstrap</span><br>
        <span><strong>Автор</strong>: Карпенко Андрей Александрович (тел. 050-948-45-35, email: karpenko_andrey@i.ua или bestmen911@gmail.com)</span><br>
    </div>
</div>


{% endblock content %}

{% block scripts %}
{% endblock scripts %}
